<html>
	<body>
		<form action="/estados" method="post">
			<div>
				<label for="nome">Nome <label>
				<input type="text" id="nome" name="nome" placeholder="Rio de Janeiro"/>
			<div>
			<div>				
				<input type="submit" value="Salvar" />
			<div>
		</form>
	</body>
</html>