<html>
	<body>
		<h1>Lista de Estados</h1>
		<table>
			<thead>
				<th>ID</th>
				<th>Nome</th>
			</thead>
			<tbody>
				<% for(var i = 0; i < list.length; i++) { %>
					<tr>
						<td><%= list[i].id %></td>
						<td><%= list[i].nome %></td>
					</tr>
				<% } %>
			<tbody>
		</table>
	</body>
</html>